<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="UTF-8">
<% include ./header %>
<body>
<% include ./side %>

<div zclass="w3-main" id="main" style="height: 100%">
<div class="w3-black ">
  <div class="w3-row">
  <div class="w3-col l5"><button class="w3-button w3-black w3-xlarge" id="openSide">&#9776;</button></div>
  <div class="w3-col l7 w3-xlarge" id="timer"></div>
    
  </div>
</div>
<iframe src="http://iriat.vn/" scrolling="no" marginheight="3px" width="100%" height="100%" frameborder="0">
  
</iframe>
</div>
<script>
$("#openSide").click(function(){
    if(document.getElementById("mySidebar").style.display=='none'){
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
    }
  else{
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
  }

})
</script>
</body>
</html>
