<!DOCTYPE html>
<html>
<title>Phân Tích</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="UTF-8">
<% include ./header %>
<script>
  $( function() {
    $( "#tg_dau" ).datepicker();
    $("#tg_dau").datepicker('setDate', new Date());
    $( "#tg_cuoi" ).datepicker();
    $("#tg_cuoi").datepicker('setDate', new Date());
  });
</script>
<body>
<% include ./side %>
<div zclass="w3-main" id="main">

<div class="w3-black">
  <button class="w3-button w3-black w3-xlarge" id="openSide">&#9776;</button>
</div>

<div class="w3-container">
  <div class="w3-card-4 w3-margin w3-light-grey" style="height: 500px;">
    <div class="w3-row w3-margin w3-center">
        <div class="w3-col l4 ">Từ   <input type="text" id="tg_dau"></div>
        <div class="w3-col l4">Đến   <input type="text" id="tg_cuoi"></div>
        <div class="w3-col l2">
          <select>
            <option>Cho ăn</option>
            <option>Sục oxy</option>
            <option>Cân bằng hóa sinh</option>
          </select>
        </div>
        <div class="w3-col l2">
          <button>Xem</button>
        </div>

    </div>
    <div>
      <table class="w3-table-all w3-hoverable w3-small" >
      <tr>
        <th>Hoạt động</th>
        <th>Phương thức</th>
        <th>Giờ thực hiện</th>
        <th>Ngày thực hiện</th>
      </tr>
      <tr>
        <td>12</td>
        <td>45</td>
        <td>fas</td>
        <td>ưerwfs</td>
      </tr>
      </table>
    </div>

  </div>

</div>

</div>

<script>
$("#openSide").click(function(){
    if(document.getElementById("mySidebar").style.display=='none'){
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
    }
  else{
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
  }

})



</script>
<script type="text/javascript">

</script>

</body>
</html>
