<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left mycolor-blue" style="display:none" id="mySidebar">
  <div class="w3-container mycolor-black w3-center">
      <img class="w3-circle" src="img/iot.png" alt="avatar" style="width:23%">
  </div>
    <div class=" w3-text-white">
        <a href="giamsat" class="w3-bar-item w3-button"><i class="fa fa-tachometer" style="font-size:18px"></i><b>  Giám sát</b></a>
        <a href="dieukhien" class="w3-bar-item w3-button"><i class="  fa fa-rss" style="font-size:18px"></i><b>   Điều khiển</b></a>
        <a href="camera" class="w3-bar-item w3-button"><i class="fa fa-video-camera" style="font-size:18px"></i><b> Camera</b></a>
        <a href="thoitiet" class="w3-bar-item w3-button"><i class="fa fa-mixcloud" style="font-size:18px"></i><b>  Thời Tiết</b></a>
        <a href="phantich" class="w3-bar-item w3-button"><i class="  fa fa-line-chart" style="font-size:18px"></i><b>  Phân tích</b></a>
        <a href="thongke" class="w3-bar-item w3-button"><i class="fa fa-bar-chart" style="font-size:18px"></i><b> Thống kê</b></a>
        <a href="hengio" class="w3-bar-item w3-button"><i class="fa fa-calendar" style="font-size:18px"></i><b> Hẹn giờ</b></a>
        <a href="caidat" class="w3-bar-item w3-button"><i class="fa fa-cog" style="font-size:18px"></i><b> Cài đặt</b></a>
        <a href="chepham" class="w3-bar-item w3-button"><i class="fa fa-eyedropper" style="font-size:18px"></i><b> Chế phẩm</b></a>
         <a href="gioithieu" class="w3-bar-item w3-button"><i class="fa fa-id-card" style="font-size:18px"></i><b> Giới thiệu</b></a>
    </div>
</div>